body {
    background-color: white;
    
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);

}

div {
    text-align: left;
    padding: 5px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

ul {
    font-size: 14px;
}

p {
    padding: 10px;
}

.checkbox{
    margin-left: 10px;
}
